@using Domain.Models

<div class="card d-flex flex-row">
    <div class="column">
        <div class="rounded-image">
            <img src="https://www.petspyjamas.com/uploads/2020/04/shutterstock_189642425-690x460.jpg"/>
        </div>
    </div>
    <div class="column announcement-data d-flex flex-column flex-grow-1">
        <div class="inside-card">
            <h3><span style="color: rgb(166,165,165);">@(new PetType(){Value = Announcement.Pet.PetType}.Name)</span>  @(Announcement.Pet.PetName)</h3>
            <RadzenText TextStyle="TextStyle.Body1">Description: @Announcement.Pet.Description</RadzenText>
            <div class="d-flex flex-row">
                <div style="margin-right: 15px">Weight: @Announcement.Pet.Weight</div>
                <div>Vaccinated: @(Announcement.Pet.IsVaccinated ? "Yes" : "No")</div>
            </div>
        </div>
            <RadzenText TextStyle="TextStyle.Body1">Service description: @Announcement.ServiceDescription</RadzenText>
            <RadzenButton>Offer your service</RadzenButton>
    </div>
</div>

@code {
    [Parameter] public Announcement Announcement { get; set; }
}