@using Domain.Models
@using HttpClients.ClientInterfaces
@using Microsoft.AspNetCore.SignalR.Client
@inject IPexelsService ImageService
@inject Notification notification

<div class="card d-flex flex-row">
    <div class="column">
        @if (string.IsNullOrEmpty(ImageSrc))
        {
            <div class="rounded-image skeleton"></div>
        }
        else
        {
            <div class="rounded-image">
                <img src="@ImageSrc" loading="lazy"/>
            </div>
        }
    </div>
    <div class="column announcement-data d-flex flex-column flex-grow-1">
        <div class="inside-card">
            <h3><span style="color: rgb(166,165,165);">@(new PetType(){Value = Announcement.Pet.PetType}.Name)</span>  @(Announcement.Pet.PetName)</h3>
            <RadzenText TextStyle="TextStyle.Body1">Description: @Announcement.Pet.Description</RadzenText>
            <div class="d-flex flex-row">
                <div style="margin-right: 15px">Weight: @Announcement.Pet.Weight</div>
                <div>Vaccinated: @(Announcement.Pet.IsVaccinated ? "Yes" : "No")</div>
            </div>
            <RadzenText TextStyle="TextStyle.Body1">Postal Code: @Announcement.PostalCode</RadzenText>
            <div class="d-flex flex-row">
                <div style="margin-right: 15px">From: @Announcement.StartDate.ToShortDateString()</div>
                <div>To: @(Announcement.EndDate.ToShortDateString())</div>
            </div>
        </div>
        <div class="w-100">
            <RadzenText TextStyle="TextStyle.Body1">Service description: @Announcement.ServiceDescription</RadzenText>
        </div>
        <RadzenButton Click=@(args => Update())>Offer your service</RadzenButton>
    </div>
</div>

@code {
    [Parameter] public Announcement Announcement { get; set; }

    [Parameter]
    public string ImageSrc { get; set; } = null;
    
    private HubConnection? hubConnection;



    protected override async Task OnInitializedAsync()
    {
        ImageSrc = await ImageService.SearchPetImage(PetType.NameFromPetType(Announcement.Pet.PetType), 10);
        // hubConnection = new HubConnectionBuilder()
        //     .WithUrl("https://localhost:7230/offers") 
        //     // o =>
        //     // o.AccessTokenProvider = async () => await Task.FromResult<string?>(await authService.GetJWT()))
        //     .Build();
        // await hubConnection.StartAsync();
    }

    private async Task Update()
    {
        hubConnection = await notification.GetHubConnection();
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendOffer");
        }
        else
        {
            throw new Exception("hubConnection error");
        }
    }
}