@using Domain.Models
@using Domain.Models.Enums
@using HttpClients.ClientInterfaces
@using Newtonsoft.Json
@inject IPexelsService ImageService
@inject ICareServiceService CareService

<div class="card d-flex flex-column">
    <div class="d-flex flex-row">
        <div class="column">
                @if (string.IsNullOrEmpty(ImageSrc))
                {
                    <div class="rounded-image skeleton"></div>
                }
                else
                {
                    <div class="rounded-image">
                        <img src="@ImageSrc" loading="lazy"/>
                    </div>
                }
            </div>
            <div class="column announcement-data d-flex flex-column flex-grow-1">
                <div class="inside-card">
                    <h3><span style="color: rgb(166,165,165);">@(new PetType() { Value = Announcement.Pet.PetType }.Name)</span> @(Announcement.Pet.PetName)</h3>
                    <RadzenText TextStyle="TextStyle.Body1">Description: @Announcement.Pet.Description</RadzenText>
                    <div class="d-flex flex-row">
                        <div style="margin-right: 15px">Weight: @Announcement.Pet.Weight</div>
                        <div>Vaccinated: @(Announcement.Pet.IsVaccinated ? "Yes" : "No")</div>
                    </div>
                    <RadzenText TextStyle="TextStyle.Body1">Postal Code: @Announcement.PostalCode</RadzenText>
                    <div class="d-flex flex-row">
                        <div style="margin-right: 15px">From: @Announcement.StartDate.ToShortDateString()</div>
                        <div>To: @(Announcement.EndDate.ToShortDateString())</div>
                    </div>
                </div>
                <div class="w-100">
                    <RadzenText TextStyle="TextStyle.Body1">Service description: @Announcement.ServiceDescription</RadzenText>
                </div>
            </div>
    </div>
    
    <div class="action d-flex flex-column align-items-center justify-content-center">
            @if (ShowOfferButton)
            {
                <RadzenButton Style="background-color: var(--accent-color);" Click="OnClick">Offer your service</RadzenButton>
            }
            
            @if(ShowRequestsButton)
            {
                <button class="button-requests" @onclick="ToggleRequests">
                    @(shouldShowRequests ? "Hide requests" : "Show requests")
                </button>

                @if (shouldShowRequests)
                {
                    <div class="requests-container flex-column">
                        @if (serviceRequests != null || !averageRatings.Any())
                        {
                            @foreach (var request in serviceRequests)
                            {
                                User caretaker = request.Announcement.PetOwner.Email == request.Initiator.Email ? request.Recipient : request.Initiator;
                                <div class="request d-flex flex-row justify-content-between align-items-center">
                                    <div class="request-caretaker-info d-flex flex-column justify-content-center">
                                        <b style="color: black; font-size: 1.2rem;">
                                            @($"{caretaker.Username}")
                                        </b>
                                        <text>
                                            @(CareService.GetCaretakerFeedback(caretaker.Email))
                                            <span class="oi oi-star" style="color: gold"></span>
                                            @($"({averageRatings[caretaker.Email].Length})")
                                            
                                        </text>
                                    </div>
                                    
                                    <div>
                                        <button id="accept-request" class="request-action" onclick="@(() => AcceptRequest(request.Id))">
                                            Accept
                                        </button>

                                        <button id="deny-request" class="request-action" onclick="@(() => DenyRequest(request.Id))">
                                            Deny
                                        </button>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <label>None</label>
                        }
                    </div>
                }
            }
    </div>
</div>

@code {
    [Parameter] public Announcement Announcement { get; set; }

    [Parameter]
    public string ImageSrc { get; set; } = null;
    [Parameter]
    public bool ShowOfferButton { get; set; }
    
    [Parameter]
    public bool ShowRequestsButton { get; set; }

    private IEnumerable<ServiceRequest>? serviceRequests;

    //The Code bellow is used for testing Create service
    [Parameter] public EventCallback OnClickCallback { get; set; }
    
    Dictionary<string, Feedback[]> averageRatings = new();
    
    bool shouldShowRequests = false;



    protected override async Task OnInitializedAsync()
    {
        ImageSrc = await ImageService.SearchPetImage(PetType.NameFromPetType(Announcement.Pet.PetType), 10);
        try
        {
            serviceRequests = await CareService.GetServiceOffersAsync(Announcement.Id);
            serviceRequests = serviceRequests.Where(r => r.RequestEnum == RequestEnum.SENT);
            foreach (var request in serviceRequests)
            {
                User caretaker = request.Announcement.PetOwner.Email == request.Initiator.Email ? request.Recipient : request.Initiator;
                averageRatings[caretaker.Email] = await GetRatings(caretaker.Email);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.StackTrace);
            Console.WriteLine(e.Message);
        }
    }
    
    private async Task GetRequests()
    {
        serviceRequests = await CareService.GetServiceOffersAsync(Announcement.Id);
        serviceRequests = serviceRequests.Where(r => r.RequestEnum == RequestEnum.SENT);
        var enumerable = serviceRequests as ServiceRequest[] ?? serviceRequests.ToArray();
        foreach (var request in enumerable)
        {
            User caretaker = request.Announcement.PetOwner.Email == request.Initiator.Email ? request.Recipient : request.Initiator;
            averageRatings[caretaker.Email] = await GetRatings(caretaker.Email);
        }
        shouldShowRequests = serviceRequests != null && enumerable.Any();
    }
    
    private async Task ToggleRequests()
    {
        if (serviceRequests == null || !serviceRequests.Any())
        {
            await GetRequests();
        }
        else
        {
            shouldShowRequests = !shouldShowRequests;
        }
    }
    
    private async Task<Feedback[]> GetRatings(string caretakerEmail)
    {
        return (await CareService.GetFeedbacks(caretakerEmail)).ToArray();
    }

    private async Task AcceptRequest(int requestId)
    {
        try
        {
            await CareService.AcceptServiceAsync(requestId);
            foreach (var request in serviceRequests!.Where(r => r.Id != requestId))
            {
                await DenyRequest(request.Id);
            }
            serviceRequests = await CareService.GetServiceOffersAsync(Announcement.Id);
            serviceRequests = serviceRequests.Where(r => r.RequestEnum == RequestEnum.SENT);
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        
    }
    
    private async Task DenyRequest(int requestId)
    {
        await CareService.DenyServiceAsync(requestId);
        serviceRequests = serviceRequests!.Where(r => r.Id != requestId).AsEnumerable();
        StateHasChanged();
    }
    
    private async Task OnClick()
    {
        await OnClickCallback.InvokeAsync();
    }

}