@using Domain.Models
@using HttpClients.ClientInterfaces
@inject ICareServiceService CareService
<h3>CaretakerComponent</h3>
<link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
<script src="https://cdn.metroui.org.ua/current/metro.js"></script>

<div class="card d-flex flex-row">
    <h2>@Caretaker.</h2>
    <p>Age: @(Caretaker.Age == null? "--" : Caretaker.Age)</p>
    <p>Age: @(Caretaker.Name ?? "--")</p>
    <p>Age: @(Caretaker.PhoneNumber ?? "--")</p>
    <input data-role="rating"
        data-value="@rating"
        data-message="(@ratingNumber)"
        data-static="true">
</div>

@code {
    [Parameter] public User Caretaker { get; set; }

    private double rating;
    private int ratingNumber;

    protected override async Task OnInitializedAsync()
    {
        rating = await CareService.GetCaretakerFeedback(Caretaker.Email);
        ratingNumber = (await CareService.GetFeedbacks(Caretaker.Email)).Count();
    }

}