@using Domain.Models
@using HttpClients.ClientInterfaces
@inject ICareServiceService CareService

<div class="card d-flex flex-column">
    <h2 class="text-center">@Caretaker.Username</h2>
    <p>Age: @(Caretaker.Age == null? "--" : Caretaker.Age)</p>
    <p>Name: @(Caretaker.Name ?? "--")</p>
    <p>Phone: @(Caretaker.PhoneNumber ?? "--")</p>
    <div class="rating d-flex align-items-center justify-content-center fs-2">
        <i rating-stars="@rating"></i>
        <text class="fs-4 ms-2">@($"({ratingNumber})")</text>
    </div>
</div>

@code {
    [Parameter] public User Caretaker { get; set; }

    private double rating;
    private int ratingNumber;

    protected override async Task OnInitializedAsync()
    {
        rating = await CareService.GetCaretakerFeedback(Caretaker.Email);
        ratingNumber = (await CareService.GetFeedbacks(Caretaker.Email)).Count();
    }

}